body {
	font-family:Georgia, 'Times New Roman', Times, serif;
	margin: 10px;
	
	
  }

header {
	background-color: #fff; 
	border-radius: 15px;
	margin: 20px;
	padding: 15px;
	display: inline-block;
	text-align: center;

  }
  
  
  nav a {
	
	color: black;
	font-size: 20px;
	font-weight: 800;
	margin: 10px;
  }


/* About section styles */
.about-container {
	font-size: 15px;
	height:auto;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color:rgba(143, 142, 142, 0.2);
	background-position: center;
     border-radius:25px;
	 padding: 30px;
     margin: 40px 10%;
	 
	   }



	    /* Work section styles */
  .work-container {
	height: auto;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	background-color:rgba(143, 142, 142, 0.2);
	background-position: center;
     border-radius:25px;
	 padding: 50px;
	 padding-top: 50px;
     margin:40px 10%;
	
  }
  
  .work-item {
	flex: 1;
	max-width: 400px;
	margin: 10px;
  }
  
  .work-item h3 {
	margin-top: 20px;
	font-size: 15px;
	font-weight: 300;
  }
  
  /* Footer styles */
  footer {
	
	background-color: #333;
	margin: 10px 10%;
	padding: 10px;
	color: #FFF;
	text-align: center;
	border-radius: 40px;
  }
  
  .social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
  }
  
  