@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto+Mono:wght@500&family=Work+Sans&display=swap');

*{
	padding: 0;
	margin: 0;
}
body{
	
	background-color:rgb(201, 153, 252) ;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	height: auto;
}


nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #333;
	height: 75px;

}
nav ul {
	
	display: flex;
	align-items:center;
	justify-content:space-evenly;

}
nav ul a{
	list-style: none;
	margin: 0 8px;
	color:white;
}

 #contact{
    font-size: 15px;
	justify-content: center;
	align-items: center;
     border-radius:20px;
	 padding: 20px;
     margin: 30px 20px ;
	text-align: center;
 }
#contact h2{
	margin-bottom: 20px;
}

 img{
	width: 40%;
	border-radius: 10px;
 }

/* Contact section styles */

  
  
  
  input {
	font-size: 16px;
	padding: 10px;
	margin-top: 5px;
	border: 2px solid #ccc;
	border-radius: 5px;
  }
  
  input[type="submit"] {
	background-color: #090e10;
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	border: none;
	border-radius: 15px;
	margin:10px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #3b40d4;
  }
  
  
 
  
   /* Footer styles */
  footer {
	background-color: #333;
	margin: 10px 10%;
	padding: 10px;
	color: #FFF;
	text-align: center;
	border-radius: 40px;
  }
  
  .social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
  } 