@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto+Mono:wght@500&family=Work+Sans&display=swap');

*{
	padding: 0;
	margin: 0;
}
body{
	
	background-color:rgb(201, 153, 252) ;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}
.left{
	font-size: 24px;
	font-weight: bolder;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #333;
	height: 75px;

}
nav ul {
	
	display: flex;
	align-items:center;
	justify-content:space-evenly;

}
nav ul a{
	list-style: none;
	margin: 0 8px;
	color:white;
}

 section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 40vw;
    margin-top: 5%;
    border-radius: 20px;
    margin: 18px 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255, 0.2);
}

.leftpart {
    width: 100%;
    border-radius: 8px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.content{
	margin-left: 20px;
}
.projectimage {
    width: 55%;
    height: 35%;
    border-radius: 15px;
    justify-content: right;
    align-items: right;
}
.right{
    /* flex-wrap: wrap; */
    /* height: 1000px; */
    width: 100%;
    /* background-color: red; */
    /* margin-left: 5%; */
    margin-right: 5%;
}

.right h1 {
    font-size: 12px;
}
.right p{
	font-size: 12px;
}
h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: rgb(65, 68, 230);

}

.black {
    color: black;
	font-size: 14px;
}
.sc {
    display: block;
    /* position: absolute; */
    margin-top: 4%;
    margin-bottom: 4%;
	padding: 3%;
    text-align: center;
    width: 40%;
    font-size: 1vw;
    color: black;
    border-radius: 10px;
    background: linear-gradient(to right,rgba(250, 155, 250, 0.61), rgba(240, 156, 108, 0.527));
    justify-content: center;
    text-decoration: none;

}

.h1x {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 24px;
	color: #333;
	margin-bottom: 4%;
}


   footer {
	background-color: #333;
	padding: 10px;
	color: #FFF;
	text-align: center;
	
  }
  
  .social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
  }  





  