/* Global styles */
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 20px;
	padding: 20px;
	box-sizing: border-box;
  }
  
 
  
  h1, h2, h3 {
	margin: 10px;
	padding: 10px;
  }
  
  img {
	border-radius: 50%;
  }
  
  /* Header styles */
  header {
	background-color: #faba6b;
	margin: 0px;
	padding: 0px;
  }
  
  nav {
	display: flex;
	justify-content: space-between;
	justify-items: center;
  }
  
  nav a {
	color: #FFF;
	font-size: 25px;
	font-weight: 800;
	margin: 25px;
  }
  
  /* Banner styles */
  .banner {
	display:flexbox;
	justify-content: center;
	align-items: center;
	height: 400px;
	background-image: url('banner-bg.jpg');
	background-size: cover;
	background-position: center;
	color: #FFF;
	text-align: center;
  }
  
  .banner h1 {
	font-size: 48px;
	font-weight: 700;
  }
  
  .banner p {
	font-size: 24px;
	font-weight: 400;
	margin-top: 20px;
  }
  
  /* About section styles */
  .about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px 0;
  }
  
  .about-container img {
	max-width: 400px;
	margin-right: 50px;
  }
  
  /* Work section styles */
  .work-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px 0;
  }
  
  .work-item {
	flex: 1;
	max-width: 400px;
	margin: 20px;
  }
  
  .work-item h3 {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 600;
  }
  
  .work-item p {
	margin-top: 10px;
	font-size: 16px;
  }
  
  /* Contact section styles */
  form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
  }
  
  label {
	font-size: 18px;
	font-weight: 600;
	margin-top: 20px;
  }
  
  input, textarea {
	font-size: 16px;
	padding: 10px;
	margin-top: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
  }
  
  input[type="submit"] {
	background-color: #0077B5;
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #005F8C;
  }
  
  /* Footer styles */
  /* footer {
	background-color: #333;
	padding: 20px;
	color: #FFF;
	text-align: center;
  } */
  
  .social-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  
  .social-links a {
	margin: 0 10px;
	font-size: 24px;
	color: #333;
  }
  
  .social-links a:hover {
	color: #3f729b;
  }
  
  .fa-instagram:before {
	content: "\f16d";
  }
  
  .fa-twitter:before {
	content: "\f099";
  }
  